<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>Data science enthusiast | Bachelor (Hons) Computer Science student | CoderDojo mentor | Connect with me @ https://ie.linkedin.com/in/daniel-mateus-pires</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>LinkedIn: <a href="{{ site.linkedin_url }}">{{ site.linkedin_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_coding_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Coding</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_coding_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_database_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SQL / Databases</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_database_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_datascience_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Data science</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_datascience_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>